@model HomeIndexViewModel

<section id="showcase">
    <partial name="~/Views/Shared/Sections/_Showcase.cshtml" model="Model.Showcase" />
    
</section>

<section id="features">
    <partial name="~/Views/Shared/Sections/_Features.cshtml" model="Model.Features" />
</section>