@model HomeIndexViewModel

<section id="showcase">
    <partial name="~/Views/Shared/Sections/_Showcase.cshtml" model="Model.Showcase" />
    <partial name="~/Views/Shared/Sections/_Features.cshtml" model="Model.Features" />
    
</section>