<header>
    <div class="container">
        <a href="/" id="logo">
            <img id="logo" src="images/logos/logo-solid.svg" alt="Silicon logotype">
        </a>
        <div id="menu">
            <nav>
                <a class="menu-link" href="#">Overview</a>
                <a class="menu-link" href="#">Features</a>
                <a class="menu-link" href="#">Contact</a>
            </nav>
        </div>

        <div class="btn-switch">
            <span>Light</span>
            <div class="switch">
                <input type="checkbox" id="switch" role="switch">
                <label for="switch" class="slider round"></label>
            </div>
            <span>Dark</span>
        </div>

        <div class="account-buttons">
            <button class="btn-gray">Sign in</button>
            <button class="btn-theme">Sign up</button>
        </div>

    </div>
</header>