<header>
    <div class="container">
        <a asp-controller="Home" asp-action="Index" id="logo">
            <img id="logo" src="~/images/logos/logo-solid.svg" alt="Silicon logotype">
        </a>
        <div id="menu">
            <nav>
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="overview">Overview</a>
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
                <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>
            </nav>
        </div>

        <div class="btn-switch">
            <span>Light</span>
            <div class="switch">
                <input type="checkbox" id="switch" role="switch">
                <label for="switch" class="slider round"></label>
            </div>
            <span>Dark</span>
        </div>

        <div class="account-buttons">
            <a class="btn-gray" asp-controller="SignIn" asp-action="Index"><i class="fa-regular fa-right-to-bracket"></i><span>Sign in</span></a>
            <a class="btn-theme" asp-controller="SignUp" asp-action="Index"><i class="fa-regular fa-user"></i><span>Sign up</span></a>
        </div>

    </div>
</header>